QUESTION -1 : Load the csv file of the dataset into a dataframe in Python program.

In [4]:

import pandas as pd 

data=pd.read_csv('/Users/anirudhagupta/Desktop/KCLT.csv') 
print(data)

               actual_mean_temp  actual_min_temp  actual_max_temp  \
0    01/07/14                81               70               91
1    02/07/14                85               74               95
2    03/07/14                82               71               93
3    04/07/14                75               64               86
4    05/07/14                72               60               84
..        ...               ...              ...              ...
360  26/06/15                85               70              100
361  27/06/15                82               71               92
362  28/06/15                76               66               85
363  29/06/15                73               59               87
364  30/06/15                83               71               94

     average_min_temp  average_max_temp  record_min_temp  record_max_temp  \
0                  67                89               56              104
1                  68                89               56              101
2                  68                89               56               99
3                  68                89               55               99
4                  68                89               57              100
..                ...               ...              ...              ...
360                67                88               55              102
361                67                88               56              103
362                67                88               53              101
363                67                88               54              104
364                67                89               54              104

     record_min_temp_year  record_max_temp_year  actual_precipitation  \
0                    1919                  2012                  0.00
1                    2008                  1931                  0.00
2                    2010                  1931                  0.14
3                    1933                  1955                  0.00
4                    1967                  1954                  0.00
..                    ...                   ...                   ...
360                  1979                  1952                  1.21
361                  2012                  1954                  0.55
362                  1968                  1959                  0.00
363                  1974                  2012                  0.00
364                  1962                  2012                  0.00

     average_precipitation  record_precipitation
0                     0.10                  5.91
1                     0.10                  1.53
2                     0.11                  2.50
3                     0.10                  2.63
4                     0.10                  1.65
..                     ...                   ...
360                   0.11                  1.98
361                   0.11                  1.86
362                   0.11                  1.83
363                   0.11                  2.39
364                   0.11                  2.75

[365 rows x 13 columns]

QUESTION - 2: Find the mean, median, mode, min and max for all numeric attributes.

In [5]:
print("MIN values \n",data.min(axis=0))
print('\n')
print("MEAN values \n",data.mean(axis=0))
print('\n')
print("MODE values \n",data.mode(axis=0))
print('\n')
print("MAX values \n",data.max(axis=0))
print('\n')
print("MEDIAN values \n",data.median(axis=0))

MIN values
                          01/01/15
actual_mean_temp               18
actual_min_temp                 7
actual_max_temp                26
average_min_temp               29
average_max_temp               50
record_min_temp                -5
record_max_temp                69
record_min_temp_year         1879
record_max_temp_year         1879
actual_precipitation         0.00
average_precipitation        0.09
record_precipitation         0.85
dtype: object


MEAN values
 actual_mean_temp           61.049315
actual_min_temp            49.958904
actual_max_temp            71.630137
average_min_temp           48.819178
average_max_temp           70.983562
record_min_temp            31.465753
record_max_temp            88.728767
record_min_temp_year     1953.279452
record_max_temp_year     1953.989041
actual_precipitation        0.102411
average_precipitation       0.114082
record_precipitation        2.208904
dtype: float64


MODE values
                actual_mean_temp  actual_min_temp  actual_max_temp  \
0    01/01/15              78.0             67.0             84.0
1    01/02/15               NaN              NaN             86.0
2    01/03/15               NaN              NaN             90.0
3    01/04/15               NaN              NaN              NaN
4    01/05/15               NaN              NaN              NaN
..        ...               ...              ...              ...
360  31/05/15               NaN              NaN              NaN
361  31/07/14               NaN              NaN              NaN
362  31/08/14               NaN              NaN              NaN
363  31/10/14               NaN              NaN              NaN
364  31/12/14               NaN              NaN              NaN

     average_min_temp  average_max_temp  record_min_temp  record_max_temp  \
0                68.0              89.0             53.0            100.0
1                 NaN               NaN             55.0              NaN
2                 NaN               NaN              NaN              NaN
3                 NaN               NaN              NaN              NaN
4                 NaN               NaN              NaN              NaN
..                ...               ...              ...              ...
360               NaN               NaN              NaN              NaN
361               NaN               NaN              NaN              NaN
362               NaN               NaN              NaN              NaN
363               NaN               NaN              NaN              NaN
364               NaN               NaN              NaN              NaN

     record_min_temp_year  record_max_temp_year  actual_precipitation  \
0                  1967.0                1954.0                   0.0
1                     NaN                   NaN                   NaN
2                     NaN                   NaN                   NaN
3                     NaN                   NaN                   NaN
4                     NaN                   NaN                   NaN
..                    ...                   ...                   ...
360                   NaN                   NaN                   NaN
361                   NaN                   NaN                   NaN
362                   NaN                   NaN                   NaN
363                   NaN                   NaN                   NaN
364                   NaN                   NaN                   NaN

     average_precipitation  record_precipitation
0                     0.11                  1.65
1                      NaN                  1.78
2                      NaN                  1.82
3                      NaN                   NaN
4                      NaN                   NaN
..                     ...                   ...
360                    NaN                   NaN
361                    NaN                   NaN
362                    NaN                   NaN
363                    NaN                   NaN
364                    NaN                   NaN

[365 rows x 13 columns]


MAX values
                          31/12/14
actual_mean_temp               88
actual_min_temp                75
actual_max_temp               100
average_min_temp               68
average_max_temp               89
record_min_temp                62
record_max_temp               104
record_min_temp_year         2015
record_max_temp_year         2015
actual_precipitation         2.65
average_precipitation        0.15
record_precipitation         6.88
dtype: object


MEDIAN values
 actual_mean_temp           63.00
actual_min_temp            52.00
actual_max_temp            73.00
average_min_temp           48.00
average_max_temp           72.00
record_min_temp            30.00
record_max_temp            90.00
record_min_temp_year     1963.00
record_max_temp_year     1953.00
actual_precipitation        0.00
average_precipitation       0.11
record_precipitation        1.98
dtype: float64

QUESTION - 3: Print the top 20% of rows showing only the first four columns.

In [6]:
t=int(.2*365)
view_data= data[:t][:4]
print(view_data)

             actual_mean_temp  actual_min_temp  actual_max_temp  \
0  01/07/14                81               70               91
1  02/07/14                85               74               95
2  03/07/14                82               71               93
3  04/07/14                75               64               86

   average_min_temp  average_max_temp  record_min_temp  record_max_temp  \
0                67                89               56              104
1                68                89               56              101
2                68                89               56               99
3                68                89               55               99

   record_min_temp_year  record_max_temp_year  actual_precipitation  \
0                  1919                  2012                  0.00
1                  2008                  1931                  0.00
2                  2010                  1931                  0.14
3                  1933                  1955                  0.00

   average_precipitation  record_precipitation
0                   0.10                  5.91
1                   0.10                  1.53
2                   0.11                  2.50
3                   0.10                  2.63

QUESTION - 4: Create a new column (call it ‘newColumn’), it should have the same values as the column
‘actual_mean_temp’. Print head of dataframe.

In [7]:
data["newColumn"]=data["actual_mean_temp"]
print(data.head())

             actual_mean_temp  actual_min_temp  actual_max_temp  \
0  01/07/14                81               70               91
1  02/07/14                85               74               95
2  03/07/14                82               71               93
3  04/07/14                75               64               86
4  05/07/14                72               60               84

   average_min_temp  average_max_temp  record_min_temp  record_max_temp  \
0                67                89               56              104
1                68                89               56              101
2                68                89               56               99
3                68                89               55               99
4                68                89               57              100

   record_min_temp_year  record_max_temp_year  actual_precipitation  \
0                  1919                  2012                  0.00
1                  2008                  1931                  0.00
2                  2010                  1931                  0.14
3                  1933                  1955                  0.00
4                  1967                  1954                  0.00

   average_precipitation  record_precipitation  newColumn
0                   0.10                  5.91         81
1                   0.10                  1.53         85
2                   0.11                  2.50         82
3                   0.10                  2.63         75
4                   0.10                  1.65         72

QUESTION - 5: Remove the new column that you have created above. Print head of dataframe.

In [8]:

data.drop("newColumn", inplace=True, axis=1)
print(data.head())

             actual_mean_temp  actual_min_temp  actual_max_temp  \
0  01/07/14                81               70               91
1  02/07/14                85               74               95
2  03/07/14                82               71               93
3  04/07/14                75               64               86
4  05/07/14                72               60               84

   average_min_temp  average_max_temp  record_min_temp  record_max_temp  \
0                67                89               56              104
1                68                89               56              101
2                68                89               56               99
3                68                89               55               99
4                68                89               57              100

   record_min_temp_year  record_max_temp_year  actual_precipitation  \
0                  1919                  2012                  0.00
1                  2008                  1931                  0.00
2                  2010                  1931                  0.14
3                  1933                  1955                  0.00
4                  1967                  1954                  0.00

   average_precipitation  record_precipitation
0                   0.10                  5.91
1                   0.10                  1.53
2                   0.11                  2.50
3                   0.10                  2.63
4                   0.10                  1.65

QUESTION - 6: Print the first 10 rows, then remove the row containing data of ‘2014-7-3’, save this row in a
variable of type series (data structure). Print the first 10 rows after removal of row.

In [8]:

print(data.head(11))

ser = data.loc[data.date == '2014-7-3']
ser = ser.iloc[0]
print ('\n',ser)
print ('\n',type(ser))

df=data
df = df.set_index("date")
df = df.drop("2014-7-3", axis=0)
print ('\n',data.head(10))

         date  actual_mean_temp  actual_min_temp  actual_max_temp  \
0    2014-7-1                81               70               91
1    2014-7-2                85               74               95
2    2014-7-3                82               71               93
3    2014-7-4                75               64               86
4    2014-7-5                72               60               84
5    2014-7-6                74               61               87
6    2014-7-7                79               67               91
7    2014-7-8                83               72               94
8    2014-7-9                80               71               89
9   2014-7-10                78               71               85
10  2014-7-11                78               68               87

    average_min_temp  average_max_temp  record_min_temp  record_max_temp  \
0                 67                89               56              104
1                 68                89               56              101
2                 68                89               56               99
3                 68                89               55               99
4                 68                89               57              100
5                 68                89               57               99
6                 68                89               55              100
7                 68                89               58              101
8                 68                89               57              101
9                 68                89               53              101
10                68                89               55              100

    record_min_temp_year  record_max_temp_year  actual_precipitation  \
0                   1919                  2012                  0.00
1                   2008                  1931                  0.00
2                   2010                  1931                  0.14
3                   1933                  1955                  0.00
4                   1967                  1954                  0.00
5                   1964                  1948                  0.00
6                   1972                  1954                  0.00
7                   1892                  2010                  0.00
8                   1891                  1986                  0.15
9                   1961                  1926                  0.00
10                  1961                  1986                  0.00

    average_precipitation  record_precipitation
0                    0.10                  5.91
1                    0.10                  1.53
2                    0.11                  2.50
3                    0.10                  2.63
4                    0.10                  1.65
5                    0.10                  1.95
6                    0.11                  2.37
7                    0.11                  1.87
8                    0.12                  3.71
9                    0.11                  2.45
10                   0.12                  3.10

 date                     2014-7-3
actual_mean_temp               82
actual_min_temp                71
actual_max_temp                93
average_min_temp               68
average_max_temp               89
record_min_temp                56
record_max_temp                99
record_min_temp_year         2010
record_max_temp_year         1931
actual_precipitation         0.14
average_precipitation        0.11
record_precipitation         2.50
Name: 2, dtype: object

 <class 'pandas.core.series.Series'>

            actual_mean_temp  actual_min_temp  actual_max_temp  \
date
2014-7-1                 81               70               91
2014-7-2                 85               74               95
2014-7-4                 75               64               86
2014-7-5                 72               60               84
2014-7-6                 74               61               87
2014-7-7                 79               67               91
2014-7-8                 83               72               94
2014-7-9                 80               71               89
2014-7-10                78               71               85
2014-7-11                78               68               87

           average_min_temp  average_max_temp  record_min_temp  \
date
2014-7-1                 67                89               56
2014-7-2                 68                89               56
2014-7-4                 68                89               55
2014-7-5                 68                89               57
2014-7-6                 68                89               57
2014-7-7                 68                89               55
2014-7-8                 68                89               58
2014-7-9                 68                89               57
2014-7-10                68                89               53
2014-7-11                68                89               55

           record_max_temp  record_min_temp_year  record_max_temp_year  \
date
2014-7-1               104                  1919                  2012
2014-7-2               101                  2008                  1931
2014-7-4                99                  1933                  1955
2014-7-5               100                  1967                  1954
2014-7-6                99                  1964                  1948
2014-7-7               100                  1972                  1954
2014-7-8               101                  1892                  2010
2014-7-9               101                  1891                  1986
2014-7-10              101                  1961                  1926
2014-7-11              100                  1961                  1986

           actual_precipitation  average_precipitation  record_precipitation
date
2014-7-1                   0.00                   0.10                  5.91
2014-7-2                   0.00                   0.10                  1.53
2014-7-4                   0.00                   0.10                  2.63
2014-7-5                   0.00                   0.10                  1.65
2014-7-6                   0.00                   0.10                  1.95
2014-7-7                   0.00                   0.11                  2.37
2014-7-8                   0.00                   0.11                  1.87
2014-7-9                   0.15                   0.12                  3.71
2014-7-10                  0.00                   0.11                  2.45
2014-7-11                  0.00                   0.12                  3.10

QUESTION - 7: Add the row that you deleted before. Print the first 10 rows again.

In [9]:

ser = ser.to_frame().T.set_index("date")
df = df.append(ser)
df= df.sort_values(by = 'date')
print (data.head(10))

           actual_mean_temp actual_min_temp actual_max_temp average_min_temp  \
date
2014-10-1                70              56              84               54
2014-10-10               72              60              84               51
2014-10-11               78              68              87               51
2014-10-12               63              58              68               50
2014-10-13               66              59              72               50
2014-10-14               73              64              82               49
2014-10-15               66              58              73               49
2014-10-16               61              50              71               49
2014-10-17               59              44              74               48
2014-10-18               65              53              76               48

           average_max_temp record_min_temp record_max_temp  \
date
2014-10-1                76              39              92
2014-10-10               74              30              89
2014-10-11               73              29              90
2014-10-12               73              31              87
2014-10-13               73              35              91
2014-10-14               72              32              87
2014-10-15               72              30              88
2014-10-16               72              35              87
2014-10-17               71              35              85
2014-10-18               71              31              87

           record_min_temp_year record_max_temp_year actual_precipitation  \
date
2014-10-1                  1899                 1954                 0.00
2014-10-10                 2000                 1939                 0.00
2014-10-11                 2000                 1939                 0.08
2014-10-12                 1906                 1919                 0.02
2014-10-13                 1964                 1954                 0.04
2014-10-14                 2006                 1940                 0.45
2014-10-15                 2006                 1985                 0.24
2014-10-16                 1939                 1925                 0.00
2014-10-17                 2001                 1962                 0.00
2014-10-18                 2001                 1938                 0.00

           average_precipitation record_precipitation
date
2014-10-1                   0.12                 3.80
2014-10-10                  0.11                 4.18
2014-10-11                  0.12                 2.58
2014-10-12                  0.12                 2.82
2014-10-13                  0.12                 1.93
2014-10-14                  0.11                 2.27
2014-10-15                  0.11                 1.83
2014-10-16                  0.11                 4.76
2014-10-17                  0.11                 1.90
2014-10-18                  0.12                 2.34

QUESTION - 8: Update the actual_min_temp in the data row for date ‘2014-7-3’ to any value. Print the updated
row.

In [6]:
import pandas as pd 

data=pd.read_csv('/Users/anirudhagupta/Desktop/KCLT.csv') 
data1=data
print ("Old row: ", data1[data1.date == '2014-7-3'])
data1.loc[data1.date =='2014-7-3', 'actual_min_temp'] = 30
print ("New row: ", data1[data1.date == '2014-7-3'])

Old row:  Empty DataFrame
Columns: [date, actual_mean_temp, actual_min_temp, actual_max_temp, average_min_temp, average_max_temp, record_min_temp, record_max_temp, record_min_temp_year, record_max_temp_year, actual_precipitation, average_precipitation, record_precipitation]
Index: []
New row:  Empty DataFrame
Columns: [date, actual_mean_temp, actual_min_temp, actual_max_temp, average_min_temp, average_max_temp, record_min_temp, record_max_temp, record_min_temp_year, record_max_temp_year, actual_precipitation, average_precipitation, record_precipitation]
Index: []

QUESTION - 9: Add 5 to the ‘actual_mean_temp’ wherever the ‘actual_min_temp’ is odd. Do this only on the
top 10 rows. Print these 10 rows before and after the operation.

In [3]:
import numpy as np
import pandas as pd 

data=pd.read_csv('/Users/anirudhagupta/Desktop/KCLT.csv') 
newD = data.head(11)
newD['actual_mean_temp']=np.where(newD['actual_min_temp']%2!=0,newD['actual_mean_temp']+5,newD['actual_mean_temp'])
print (newD)

        date  actual_mean_temp  actual_min_temp  actual_max_temp  \
0   01/07/14                81               70               91
1   02/07/14                85               74               95
2   03/07/14                87               71               93
3   04/07/14                75               64               86
4   05/07/14                72               60               84
5   06/07/14                79               61               87
6   07/07/14                84               67               91
7   08/07/14                83               72               94
8   09/07/14                85               71               89
9   10/07/14                83               71               85
10  11/07/14                78               68               87

    average_min_temp  average_max_temp  record_min_temp  record_max_temp  \
0                 67                89               56              104
1                 68                89               56              101
2                 68                89               56               99
3                 68                89               55               99
4                 68                89               57              100
5                 68                89               57               99
6                 68                89               55              100
7                 68                89               58              101
8                 68                89               57              101
9                 68                89               53              101
10                68                89               55              100

    record_min_temp_year  record_max_temp_year  actual_precipitation  \
0                   1919                  2012                  0.00
1                   2008                  1931                  0.00
2                   2010                  1931                  0.14
3                   1933                  1955                  0.00
4                   1967                  1954                  0.00
5                   1964                  1948                  0.00
6                   1972                  1954                  0.00
7                   1892                  2010                  0.00
8                   1891                  1986                  0.15
9                   1961                  1926                  0.00
10                  1961                  1986                  0.00

    average_precipitation  record_precipitation
0                    0.10                  5.91
1                    0.10                  1.53
2                    0.11                  2.50
3                    0.10                  2.63
4                    0.10                  1.65
5                    0.10                  1.95
6                    0.11                  2.37
7                    0.11                  1.87
8                    0.12                  3.71
9                    0.11                  2.45
10                   0.12                  3.10

QUESTION - 10: Print only those rows where the absolute difference between the ‘record_min_temp_year’
and ‘record_max_temp_year’ is less than 30.

In [7]:
print (data[abs(data.record_min_temp_year - data.record_max_temp_year) < 30])

         date  actual_mean_temp  actual_min_temp  actual_max_temp  \
3    04/07/14                75               64               86
4    05/07/14                72               60               84
5    06/07/14                74               61               87
6    07/07/14                79               67               91
10   11/07/14                78               68               87
..        ...               ...              ...              ...
354  20/06/15                83               71               95
356  22/06/15                83               65              100
359  25/06/15                86               74               98
360  26/06/15                85               70              100
362  28/06/15                76               66               85

     average_min_temp  average_max_temp  record_min_temp  record_max_temp  \
3                  68                89               55               99
4                  68                89               57              100
5                  68                89               57               99
6                  68                89               55              100
10                 68                89               55              100
..                ...               ...              ...              ...
354                66                87               54              102
356                66                87               53              100
359                67                88               53              102
360                67                88               55              102
362                67                88               53              101

     record_min_temp_year  record_max_temp_year  actual_precipitation  \
3                    1933                  1955                  0.00
4                    1967                  1954                  0.00
5                    1964                  1948                  0.00
6                    1972                  1954                  0.00
10                   1961                  1986                  0.00
..                    ...                   ...                   ...
354                  1879                  1887                  0.01
356                  2003                  2015                  0.00
359                  1889                  1914                  0.00
360                  1979                  1952                  1.21
362                  1968                  1959                  0.00

     average_precipitation  record_precipitation
3                     0.10                  2.63
4                     0.10                  1.65
5                     0.10                  1.95
6                     0.11                  2.37
10                    0.12                  3.10
..                     ...                   ...
354                   0.12                  1.67
356                   0.12                  1.31
359                   0.11                  2.76
360                   0.11                  1.98
362                   0.11                  1.83

[144 rows x 13 columns]